/*for Id #pname{
        background-color:blueviolet;

    }*/
/*for individual styling*/
h1 {
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-display: block;
    font-feature-settings: off;
    font-stretch: ultra-condensed;
}
/*for class styling*/
.p2 {
    color: brown;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-display: block;
    font-feature-settings: off;
    font-stretch: ultra-condensed;
}
/*attribute styling*/
input[type=text] {
    background-color: aqua;
    color: coral;
}
/*universal selecter*/
* {
    font-style: italic;
}
/*group selectors*/
h3, p {
    color: red;
}
/*can apply any child of that parent*/
div p {
    color: coral;
}
/*child tag selector*/
div > p {
    background-color: aquamarine;
}
/*if child is next to parent*/
div + p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*if child is before the parent*/
div ~ p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div{
    margin-left:30px;
    margin-right:auto;
}
body {
    background-image: url(https://www.google.com/search?q=wallpaper&sxsrf=ACYBGNRt8zSPHVzIizX-vnr3_ccSQBQ77A:1578982658494&source=lnms&tbm=isch&sa=X&ved=2ahUKEwic6NzjuILnAhUGILcAHZgeBtYQ_AUoAXoECA8QAw&biw=1360&bih=657#imgdii=OEOUWSh6gLUF1M:&imgrc=Ed-GKH10Jy7MrM);
    background-repeat:no-repeat;
    background-size:cover;
}
body {
    background-image: url("moana.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#border{
    border:10px solid transparent;
    padding:15px;
    border-image-source:url(wall.jpg);
    border-image-slice:30;

}
</style >
